
.text-file-explorer {
    background-color: black;
    padding: 10px 20px;

    color: white;
    font-family: monospace;
    font-weight: bolder;
    font-size: xx-large;
    text-align: left;


    .explorer-element {
        margin: 0;
    }
}
