@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

header {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  .picture {
    width: 200px;
    height: 200px;
    object-fit: cover;

    border: white 5px solid;
    border-radius: 100%;

    margin: 30px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: auto;
    z-index: 1;
  }

  h1, h2 {
    margin: 0;
    font-weight: 550;
  }

  h2 {
    color: #AAA;
  }

  .see-more {
    opacity: 0.5;
  }
}

.App-content {
  min-height: 1000px;
}


// Particles

.particle-container {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.particle {
  $particleNum: 100;

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  border-radius: 100%;
  mix-blend-mode: screen;
  background: white;
  opacity: 30%;

  animation: fadein-frames 200ms infinite;

  @keyframes fade-frames {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.7;
    }

    100% {
      opacity: 1;
    }
  }

  
  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: 4 + random(2);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 88000 + random(16000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(87000) - 40000 + ms;
      animation-iteration-count: infinite;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
            #{random(100) + vw},
            #{$startPositionY + vh},
            0
          );
        }

        to {
          transform: translate3d(
            #{random(100) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }
    }
  }
}